<!-- test -->
<div class="weixin-container" id="msgtype-container" >
	
	<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#dataList" data-toggle="tab">列表</a></li>
			<li><a href="#dataEdit" data-toggle="tab">编辑</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="dataList">
			
			<p class="align-right">
				
				<button class="btn btn-success" ng-click="toCreateView()">
					<i class="glyphicon glyphicon-plus">
					</i>
					添加
				</button>
			</p>
			<div class="datalist-wrapper">
				<table class="table table-striped table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<th class="tbl-index">
								序号
							</th>
							<th class="tbl-msgtype-name">
								名称
							</th>
							<th class="tbl-handle">
								操作
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in dataList">
							<td class="tbl-index">
								{{$index+1}},id={{item.id}}
							</td>
							<td class="tbl-msgtype-name">
								<div class="weixin-padding5">
									{{item.name}}
								</div>
							</td>
						
							
							<td class="tbl-handle">
								<button class="btn btn-primary" ng-click="toEditView(item)">
									<i class="glyphicon glyphicon-edit">
									</i>
									编辑
								</button>
								<button class="btn btn-danger" ng-click="toDeleteView(item)" ng-disabled="item._pending">
									<i class="glyphicon glyphicon-trash">
									</i>
									删除
								</button>
							</td>
						</tr>
						
					</tbody>
					<tfoot class="ng-cloak alert" ng-show="dataList.length == 0">
						<tr>
							<td colspan="5"><div class="no-records "> <strong>暂无数据</strong> </div> </td>
						</tr>
					</tfoot>
				</table>
				<div pagination ng-model="pagination"></div>
			</div>

		</div>

		<div class="tab-pane" id="dataEdit">
			<form class="form-horizontal" role="form" ng-submit="save()" name="editForm">
				<div class="form-group">
					<label  class="col-sm-2 control-label">
						名称
					</label>
					<div class="col-sm-10">
						<input class="form-control" required ng-model="formData.name">
							
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<input type="submit" class="btn btn-primary" value="{{saveText}}" ng-disabled="editForm.$invalid || pending">
					</div>
				</div>
			</form>

		</div>

	</div>
</div>
	